.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1600px;
}

.image-slider img {
    width: 100%;
    height: auto;
}

#slider-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prev-button,
.next-button {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 100px 20px;
    position: absolute;
    font-size: 50px;
    background-color: transparent;
    background: none;
    outline: black;
    color: white;
    cursor: pointer;
    font-family: ember;
}

.prev-button:focus {
    border-color: white;
    box-shadow: -2px -2px 2px solid white,
    2px 2px 2px solid white;

}

.next-button:focus {
    border-color: white;
    box-shadow: -2px -2px 2px solid white,
    2px 2px 2px solid white;

}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}

#background-image img {
    transition: transform 0.5s ease-in-out;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slide-exit {
    transform: translateX(0);
    animation: slideOut 0.5s ease-in-out;
}