.cat-show-page {
    margin-bottom: 100px;
}

#category-name {
    font-family: bolded-ember;
    margin-left: 5px;
    color: #c45500;
}

#cat-item-container {
    justify-content: center;
    min-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 300px));    
    grid-auto-rows: 600px;
    grid-auto-flow: row;
    place-items: center;
    grid-template-rows: 350px;
    /* margin-top: 50px; */
    /* min-width: 250px;
    max-width: 100%; */
}

@media screen and (max-width: 1200px) {
    #cat-item-container {
        grid-template-columns: repeat(3, minmax(230px, 300px));
    }
}

#cat-item {
    width: 300px;
    height: 300px;
    display: flex;
    margin-bottom: 10px;
} 


#category-number-result-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    position: relative;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    font-family: rg-ember;
    width: 100%;
    min-width: 1000px;
}
