#product-container-name {
    text-decoration: none;
}

.product-container {
    text-decoration: none;
}

#name-product-box {
    text-decoration: none;
    color: black;
    font-family: ember;
}

#container-product-name {
     display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    text-overflow: ellipsis !important;
    white-space: normal;
    overflow: hidden;
}