.entire-confirmation-page {
    background-color: #eaeded;
    min-height: 100vh;
    /* min-width: 100%; */
    overflow: auto;
    min-width: 800px;
}

.center-pls {
    display: flex;
    justify-content: center;
    min-width: 1000px;
}

#confirmation-section {
    background-color: white;
    min-width: 640px;
    width: 90%;
    margin: 40px;
    padding: 20px;
    text-align: left;
}

#order-placed-check {
    display: flex;
    color: #067d62;
    font-family: bolded-ember;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#order-check {
    margin-right: 10px;
}

#thanks-break {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 0;
}

#confirm-total-price {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 15px;
}

.order-number-section {
    display: flex;
    font-family: rg-ember;
    margin-top: 20px;
    margin-bottom: 15px;
}

#order-number-text {
    color: #565959;
    margin-right: 5px;
}

#order-number{
    font-family: bolded-ember;
}

.confirmed-order-total-section {
    margin-top: 20px;
    max-width: 300px;
    margin-bottom: 30px;
}

#confirm-order-subtotal, .confirmed-subtotal-item-price, #tax-confirm-section, #total-confirm, .confirmed-total-item-price {
    display: flex;
}

#confirm-order-subtotal, #tax-confirm-section {
    font-family: rg-ember;
    color: #565959;
}

#total-confirm {
    font-family: bolded-ember;
}

#confirm-order-subtotal, #tax-confirm-section, #total-confirm {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}


#review-confirm {
    text-decoration: none;
    font-family: rg-ember;
    color: #2b7186;
    font-size: 14px;
    margin-right: 2px;
}

#greater-than {
    font-size: 8px;
    color: #2b7186;
}

#confirm-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#continue-shopping-button {
    width: 150px;
    font-size: 12px;
    font-family: rg-ember;
    border-radius: 8px;
    border: 0px;
    height: 30px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 8px;
    background: #fcd94b;
    background-color: #a88734 #9c7e31 #846a29;
}

#confirm-review {
    margin-left: 40px;
    margin-bottom: 15px;
}

.ordered-products {
    margin-left: 25px;
    margin-bottom: 25px;
}

.done {
    margin-top: 30px;
    font-family: bolded-ember;
    font-size: 18px;
    margin-bottom: 8px;
}

.check-it {
    font-family: ember;
    font-size: 13px;
    margin-bottom: 20px;
}

.done-links {
    display: flex;
    justify-content: space-evenly;
    font-family: rg-ember;
}

#github-link, #linkedin-link, #js-link, #m-link, #portfolio-link {
    text-decoration: none;
    color: #2b7190;
    font-size: 15px;
}

#github-link:hover, #linkedin-link:hover, #js-link:hover, #m-link:hover, #portfolio-link:hover {
    text-decoration: underline;
}

.description-link {
    display: flex;
}

#des {
    align-self: flex-end;
    font-size: 10px;
    color: #565959;
    margin-left: 2px;
}



