.confirmed-item-container {
    display: flex;
    justify-content: space-between;
    font-family: rg-ember;
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: auto; */
}

#confirmed-item-left-side {
    display: flex;
}

#confirmed-product-image {
    width: 200px;
    height: 200px;
    display: flex;
}

#product-name-confirmed,
.confirmed-item-price {
    display: flex;
}

#product-name-confirmed {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 10px;
}

.confirmed-item-price {
    margin-top: 8px;
    padding-top: 10px;
    font-family: bolded-ember;
}

#confirmed-name-link {
    text-decoration: none;
    color: #007185;
    margin-right: 8px;
    font-size: 16px;
}

#confirmed-item-qty {
    font-size: 13px;
    padding-top: 3px;
    color: #565959;
}

#sold-by-text {
    font-size: 12px;
}

#confirmed-product-middle-section {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    text-align: left;
    justify-content: left;
}