.entire-cart-page {
    background-color: #eaeded;
    min-width: 1000px;
}

.cart-show-page {
    display: flex;
    
}

.shopping-cart-text {
    font-size: 28px;
    color: black;
    font-family: rg-ember;
}

#middle-cart-page {
    background-color: white;
    width: auto;
    min-width: 640px;
    margin: 20px 20px;
}

#cart-item-section {
    min-width: 640px;
}

#checkout-section {
    width: 300px;
}