.empty-whole-cart {
    background-color: #eaeded;
    min-height: 100vh;
    /* min-width: 100%; */
    overflow: auto;
}

#cart-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 2rem auto 0;
    width: 850px;
    max-width: 100%;
    height: 200px;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.empty-cart {
    font-family: rg-ember;
    font-size: 40px;
    margin-bottom: 30px;
}

#live-to-serve {
    padding-bottom: 10px;
    font-family: ember;
    font-size: 15px;
}

#continue-shopping {
    font-family: ember;
    font-size: 15px;
}

#cart-link-to-home {
    color: #2b7186;
    text-decoration: none;
}

.entire-cart-page {
    background-color: #eaeded;
    min-width: 1000px;
    min-height: 100vh;
    /* min-width: 100%; */
    overflow: auto;
        
}

.cart-show-page {
    display: flex;
    justify-content: space-between;
}

.shopping-cart-text {
    font-size: 28px;
    color: black;
    font-family: rg-ember;
}

#middle-cart-page {
    background-color: white;
    width: 100%;
    min-width: 640px;
    margin: 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

#top-of-middle-section {
    display: flex;
    flex-direction: column;
}


#middle-section-price {
    font-family: rg-ember;
    color: #565959;
    font-size: 14px;
    text-align: right;
    margin-top: 20px;
}

#cart-break {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 0;
}

#cart-item-section {
    min-width: 640px;
}



#checkout-section {
    /* display: flex; */
    width: 300px;
    background-color: white;
    margin: 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align: left;
    height: 100%;
}

#bottom-cart-break {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 20px;
}

#subtotal-section {
    display: flex;
    justify-content: right;
    font-size: 18px;
}

#subtotals {
    font-family: rg-ember;
    padding-right: 5px;
}

.subtotal-price {
    display: flex;
    font-family: bolded-ember;
    font-size: 18px;
}

#order-text {
    font-family: bolded-ember;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 4px;
    color: #1e1e1e;
}

.cart-summary-text {
    font-family: rg-ember;
    font-size: 12px;
    color: #1e1e1e;
}

#total-items, #shipping-section, #tax-section, #tax-collected{
    display: flex;
    justify-content: space-between;
}

#item-nums, #total {
    padding: 0px 3px 6px 0px;
}

.summary-price{
    display: flex;
    padding: 0px 0px 6px 3px;
}

#s-and-h, #tax-text {
    padding: 6px 3px 3px 0px;
}

#order-top-break {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 10px;
}

#s-and-h-price, #tax-price {
    padding: 6px 0px 3px 3px;
}

.order-total-section{
    display: flex;
    justify-content: space-between;
}

.total-price{
    display: flex;
    font-family: bolded-ember;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 4px;
    color: #B12704;
}

#order-total-text {
    font-family: bolded-ember;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 4px;
    color: #B12704;
}


#checkout-button {
    width: 100%;
    font-size: 15px;
    font-family: rg-ember;
    border-radius: 8px;
    border: 0px;
    height: 100%;
    width: 100%;
    outline: 0;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 8px;
    background: #fcd94b;
    background-color: #a88734 #9c7e31 #846a29;
}