.cart-left-side {
    background-color: white;
}

.cart-right-side {
    width: 300px;
}

#cart-product-image {
    width: 200px;
    height: 200px;
}

#cart-product-name {
    text-decoration: none;
    color: black;
}

#name-link {
    text-decoration: none;
}