.cart-left-side {
    background-color: white;
    display: flex;
}

#cart-product-image {
    width: 200px;
    height: 200px;
    display: flex;
}

#cart-product-name {
    text-decoration: none;
    color: black;
}

#name-link {
    text-decoration: none;
}