.header {
    height: 60px;
    display: flex;
    float: none;
    flex-flow: row nowrap;
    background-color: #131921;
    color: white;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    line-height: 1em;
    /* overflow: hidden; */
}


#homePageHeaderLogo {
    height: 50px;
    margin-right: auto;
    float: left;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 10px;
}

#homePageSearchBar {
    padding: 10px 4px 10px 3px;
    height: 60px;
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
    white-space: nowrap;
}

.inputForHomePgSearch {
    height: 38px;
    min-width: 420px;
    line-height: 15px;
    padding: 7px 10px 10px 0px;
    box-sizing: border-box;
}

.nav-bar-right {
    margin-left: auto;
    display: flex;
    float: right;
}

.hello_drop_down {
    display: flex;
    position: relative;
}

.ordersLink {
    display: flex;
    position: relative;
}

/* .cart {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
} */

.cart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    width: 84px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 11px 9px 11px 9px;
    padding-left: 9px;
}

.cart-display {
    display: flex;
    align-items: center;
    margin-right: 5px;
    box-sizing: border-box;
}

#cart-icon {
    padding-top: 4px;
   font-size: 1.6em;
   color: white;
   
}

#number-items {
    font-family: rg-ember;
    font-size: 28px;
    color: #f0893b;
}

#cart-text {
    display: flex;
    margin-left: 5px;
    margin-top: 25px;
    font-size: 15px;
    font-family: bolded-ember;
    color: white;
}