#top-of-placed-order-container {
    display: flex;
    justify-content: space-between;
    font-family: rg-ember;
    color: #565959;
    border-radius: 8px 8px 0 0;
    background-color: #f0f2f2;
    padding: 14px 18px;
    box-sizing: border-box;
    border: 1px solid #d4d9db;
    border-color: #ced1d6 #d5d8dd #c4c9d1;
}

#two-parts {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#order-placed-date-section {
    min-width: 150px;
}

.placed, .placed-total {
    font-size: 12px;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.date-bought, .total-bought {
    font-size: 14px;
    display: flex;
    justify-content: left;
}

#order-placed-confirmation-number {
    margin-top: 10px;
    margin-bottom: 10px;
}

#order-confirm-num {
    display: flex;
    font-size: 12px;
}

#order-num {
    margin-right: 4px;
    margin-bottom: 5px;
}

#link-to-details {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
    display: flex;
    justify-content: right;
}

#link-to-details:hover {
    text-decoration: underline;
    color: #C45500;
}

.delete-order-button-div{
    display: flex;
    justify-content: left;
    display: flex;
    color: #565959;
    border-radius: 0 0 8px 8px;
    background-color: #f0f2f2;
    padding: 5px 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #d4d9db;
    border-color: #ced1d6 #d5d8dd #c4c9d1;
}

#delete-order-history {
    font-family: rg-ember;
    font-size: 14px;
    color: #007185;
    margin: 10px;
}

#inside-box {
    border-left: 1px solid #d4d9db;
    border-right: 1px solid #d4d9db;
    border-top: none;
    border-bottom: none;
    border-color: #ced1d6 #d5d8dd #c4c9d1;
}